<div class="container" *ngIf="artist">
	<header class="artist-info">
		<div *ngIf="artist.images.length > 0 " class="col-sm-4">
			<img class="artist-thumb img-circle" src="{{artist.images[0].url}}" alt="">
			
		</div>
		<div class="col-sm-8">
			<h1>{{artist.name}}</h1>
			<p *ngIf="artist.genres.length > 0">
				Genres: <span *ngFor="let genre of artist.genres">{{genre}}</span>
			</p>
		</div>
	</header>
	<div class="clearfix"></div>
	<div class="artist-albums">
		<masonry class="row">
			
			<masonry-brick *ngFor="let album of albums" class="col-md-4">
					<a routerLink="/album/{{album.id}}">
						<div class="well album">
							<div *ngIf="album.images.length > 0">
	                            <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}">    
	                            <h4>{{album.name}}</h4>
	                            <a class="btn btn-default btn-block" routerLink="/album/{{album.id}}">Album Details</a>
	                        </div> 
						</div>
					</a>
					
				
			</masonry-brick>
		</masonry>
	</div>
</div>