<div class="container">	
		<h1>Need Music?</h1>
		<p>
			ng2Spotify Powerd by Spotify API gives you instant access to millions of songs – from old favorites to the latest hits.
			<br> Just hit play to stream anything you like.
		</p>

		<form action="">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search Artist..." [(ngModel)]="searchArtist" (keyup)="searchMusic()" name="searchArtist">
			</div>
		</form>

		<div *ngIf="searchArtistRes"  class="grid">
			<masonry>
				<masonry-brick *ngFor="let artist of searchArtistRes" class="col-sm-4 well">	
					<h4>
						<a routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
					</h4>
					<div *ngFor="let image of artist.images; let i = index ">
						<img *ngIf="i == 1 " src="{{image.url}}" alt="" class="img-responsive">
					</div>
					<div *ngIf="artist.genres.length > 0">
						<h6>Genres:</h6>
						<span *ngFor="let genres of artist.genres">
							{{genres}}
						</span>
					</div>	
				</masonry-brick>
			</masonry>
		</div>
</div>
